@model IEnumerable<Food>
@{
    ViewBag.Title = "Home Page";
}
<div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                @Html.Action("GetAllCategory", "Category")
            </ul>
        </div>
    </div>
    <div class="col py-3">
        <div class="row">
            @foreach (var item in Model)
            {
                @Html.Partial("_ListFoods", item)
            }
        </div>
    </div>
</div>
