@model List<CartItemViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Giỏ Hàng</h2>

<table class="table">
    <tr>
        <td>Sản Phẩm</td>
        <td>Đơn Giá</td>
        <td>Số Lượng</td>
        <td>Hành Động</td>
    </tr>

    @for (int i = 0; i < Model.Count(); i++)
    {
<tr>
    <td>@Model.ElementAt(i).food.Name</td>
    <td>@Model.ElementAt(i).food.Price</td>
    <td>@Model.ElementAt(i).quantity</td>
    <td><a href="@Url.Action("RemoveItem", "Cart", new {itemIndex = i})" class="btn btn-outline-danger">Xóa</a></td>
</tr>
    }
</table>