<footer class="text-center text-black">
    <div class="container p-4">
        <section class="">
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <p>
                        Covid chúng tôi vẫn ship.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Về chúng tôi</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            @Html.ActionLink("Liên Hệ", "Contact", "Home", new { area = "" }, new { @class = "text-black" })
                        </li>
                        <li>
                            <a href="#!" class="text-black">Chính sách vận chuyển</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black">Chính sách thanh toán</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy; @DateTime.Now.Year - 247 Restaurant
    </div>
</footer>