@model IEnumerable<Category>

@foreach (var item in Model)
{
    <a href="@Url.Action("Details", "Category", new {cateId = item.Id})" class="list-group-item list-group-item-action ripple">
        <span>@item.Name</span>
    </a>
}