@model Food
<div class="col-md-4">
    <div class="card card-style">
        <img src="~/assets/image/Ga-Chien-Sot-Ngot-Phomai.jpg" class="img-home" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-price">@Model.Price.ToString("F0")đ</p>
            <a href="#" class="btn btn-outline-danger">Add To Card</a>
        </div>
    </div>
</div>
