@model IEnumerable<Food>

<h2 class="similar-header">Đồ ăn tương tự</h2>
@foreach (var item in Model)
{
    <div class="col-md-3">
        <div class="card card-style-1">
            <a href="@Url.Action("Details", "Foods", new {foodId = item.Id})">
                <img src="~/assets/image/Ga-Chien-Sot-Ngot-Phomai.jpg" class="img-home" alt="...">
            </a>
            <div class="card-body">
                <a href="@Url.Action("Details", "Foods", new {foodId = item.Id})"><h4 class="card-title">@item.Name</h4></a>
                <p class="card-price">@item.Price.ToString("F0")đ</p>
                <a href="#" class="btn btn-outline-danger">ĐẶT HÀNG</a>
            </div>
        </div>
    </div>
}
