@model Food

@{
    ViewBag.Title = ViewBag.FoodName;
}
<div class="row">
    <div class="col-md-6"><img src="~/assets/images/@Model.Image" class="img-food-details" alt="..."></div>
    <div class="col-md-6">
        <h3 style="font-weight:bold;color:deeppink">@Model.Name</h3>
        <h4>@Model.Price</h4>
        <a href="@Url.Action("AddToCart", "Cart", new {foodId = Model.Id})" class="btn btn-outline-danger" style="margin-top:20px">MUA NGAY</a>
    </div>
</div>
<div class="row">
    @Html.Action("SimilarFood", "Foods")
</div>
